.container{
    height: 100vh;
    width: 99vw;
    background-color: RED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height:300px;
    width:300px;

    background-color: pink;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    transition: transform 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}
.box:hover{
    transform: rotate(-360deg);

     /* transform: scale(1.5); */

     /* transform: translate(-80%); */
     /* transform: translate(90% , -50%) */
     /* transform: translate(-90% , -50%) */

     /* transform: skew(25deg) */
     /* transform: skew(-25deg) */
    /* transform: matrix(1.06, 1.06, -1.06, 1.06, 0, 0); */


    /* matrix have   ( a , b ,c , d , e , f ) */
    /* transform: matrix(1.5, 0, 0, 1.5 ,0 , 0 );  */
    /* transform: matrix(1, 0, 2, 1, 0, 0 ); */


    /*  --- NOTE --- 
    
    a & d are sclaing factors according to x and y axis
    b & c are skewing factors according to x and y axis
    e & f are translating factors according to x and y axis
    
    
    */

}
p{
    font-size: 25px;
}