/* following best practices */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: violet;
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: beige;
    border: 2px solid red;
    height: 100%;
    width: 100%;
    padding: 3rem;

    /* to apply grid properties  */
    display: grid;

    /* to manipulate the row and columns  */
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    /* we can add gaps in btwn the cells */
    row-gap: 20px;
    column-gap: 20px;
}

.items{
    background-color:purple;
    color:white;
    border:1px solid yellow;
}