*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    height:100%;
    width:100%;

    display: grid;
    gap: 1.7rem;

    background-color: beige;
    padding:4rem;
    grid-template-areas: "header header header"
                "sidebar section1 section1"
                "sidebar section2 section3"
                "footer footer footer"
    ;

}
.items{
    padding: 1.5rem;
    background-color: purple;
    color: white;

}
#header{grid-area: header;}
#sidebar{grid-area: sidebar;}
#section1{grid-area: section1;}
#section2{grid-area: section2;}
#section3{grid-area: section3;}
#footer{grid-area: footer;}


/* Styling container 2 */
.container2{
    display: grid;
    margin-top: 10%;
    padding:5rem;
    gap: 1rem;
    justify-content: center;
    background-color: rgb(157, 32, 32);

    /* no need for media queries anymore */
    grid-template-columns: repeat(auto-fit , minmax(6.25rem, 39.375rem));
}
.items2{
    background-color: pink;
    padding: 1rem;
}
